body {
    background-attachment: fixed;
    background-image: url(../imgres/bg4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff !important;
}

label {
    color: azure;
    margin-bottom: 0 !important;
}
.card-header{
    padding: 0 !important;
}

.label-slim{
    padding: 0 !important;
    color: azure;
}
.fixspace {
    padding: 0;
    margin: 0;
    background-color: #0074b5;
}
.form-slim {
    margin-bottom: 0rem !important;
}

.btn-spaced {
    margin-top: 1rem !important;
}
.findform {

    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgba(0,0,0, 0.75);
}

