body {
    background-attachment: fixed;
    background-image: url(../imgres/bg4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff!important;
}

label {
    color: azure;
    margin-bottom: 0 !important;
}
.card-header{
    padding: 0 !important;
}

.label-slim{
    padding: 0 !important;
    color: azure;
}
.fixspace {
    padding: 0;
    margin: 0;
    background-color: #0074b5;
}
.form-slim {
    margin-bottom: 0rem !important;
}

.btn-spaced {
    margin-top: 1rem !important;
}
.findform {

    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgba(0,0,0, 0.75);
}

.red{
    color: red;
}
.green{
    color:green!important;
}
.blue{
    color:blue;
}

.pagination li a.page-link{
    background: #4e555b;
    border: 2px solid #4e555b;
    color: #9fcdff;
}
.phead li a.page-link{
    background: #4e555b!important;
    border: 0px solid #4e555b!important;
    /*color: #9fcdff!important;
*/
    color: #9fcdff!important;
    background-color: #4e555b!important;

}

.page-item.disabled .page-link {
    color: #9fcdff!important;
    background-color: #4e555b!important;
    border-color: #4e555b!important;
}